<br>
<br>
{{product-card click=(action 'onclick') product=model}}
<br>

{{#contextual-accordion items=products as |item a|}}
{{#a.header}}
{{item.name}}{{if a.isExpanded '' ''}}
{{/a.header}}
{{#a.details}}
<h4>
  {{item.description}}
</h4>
{{/a.details}}
{{/contextual-accordion}}


{{#contextual-accordion items=implementation as |item a|}}
{{#a.header}}
{{item.docuement}}{{if a.isExpanded '' ''}}
{{/a.header}}
{{#a.details}}
<h4>
  {{item.moreDoc}}
</h4>
{{/a.details}}
{{/contextual-accordion}}
















<!-- {{#errors as |error|}}
    <li>{{error}}</li>
{{/errors}} -->
