<br>
<br>
{{product-card click=(action 'onclick') product=model}}

{{#contextual-accordion items=products as |item a|}}
{{#a.header}}
{{item.title}}{{if a.isExpanded '' ''}}
{{/a.header}}
{{#a.details}}
<h4>By:{{item.author}}</h4>
<h4>
  {{item.text}}
</h4>
{{/a.details}}
{{/contextual-accordion}}








<!-- {{#errors as |error|}}
    <li>{{error}}</li>
{{/errors}} -->
