<div class="nav-side-menu">
  <div class="brand">Brand Logo</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
       <h2 align="center">Components</h2>
      <li  data-toggle="collapse" data-target="#formModal" class="collapsed active">
        <a><i class="glyphicon glyphicon-modal-window fa-lg"></i> Modals<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="formModal">
        <li><a>{{link-to "Form-Modal" 'product-doc' class="a"}}</a></li>
        <li><a>{{link-to "Crud-Modal" 'product-doc' class="a"}}</a></li>
        <li><a>{{link-to "Notification-Modal" 'product-doc' class='a'}}</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#formElements" class="collapsed">
        <a><i class="glyphicon glyphicon-inbox fa-lg"></i> Form Elements <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="formElements">
        <li><a>{{link-to "Validated-input" 'product-doc' class='a'}}</a></li>
        <li><a>{{link-to "Form-input" 'product-doc' class='a'}}</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#npua" class="collapsed">
        <a><i class="	glyphicon glyphicon-alert fa-lg"></i> Notifications/Progress/Updates/Alerts<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="npua">
        <li><a>{{link-to "system-alert" 'product-doc' class='a'}}</a></li>
        <li><a>{{link-to "loading-feedback" 'product-doc' class='a'}}</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#pagination" class="collapsed">
        <a><i class=	"glyphicon glyphicon-sort fa-lg"></i>
          Pagination <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="pagination">
          <li><a>{{link-to "pagination-bar" 'product-doc' class='a'}}</a></li>
        </ul>

        <li data-toggle="collapse" data-target="#misc" class="collapsed">
          <a><i class="glyphicon glyphicon-asterisk fa-lg"></i> Misc <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="misc">
          <li><a>{{link-to "Miscellaneous" 'product-doc' class='a'}}</a></li>
        </ul>
      </ul>
    </div>
  </div>
